/* GOOGLE FONTS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;900&display=swap");
/* VARIABLES CSS */
:root {
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);
  /*Red gradient*/
  --body-color: linear-gradient(to right, #000000, #000000);
  --body-font: "Poppins", sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: var(--body-color);
  color: var(--text-color);
  transition: 0.3s;
  direction: rtl;
}
h1,
h2,
h3,
h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
button,
input {
  border: none;
  outline: none;
}
button {
  cursor: pointer;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}
/* REUSABLE CSS CLASSES */
.section {
  padding: 4.5rem 0 2rem;
}
.section__title {
  font-size: var(--h2-font-size);
  margin-bottom: var(--mb-2);
  text-align: center;
}
/* LAYOUT */
.container {
  max-width: 968px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}
.flex {
  display: flex;
  flex-direction: row-reverse;
}
.main {
  overflow: hidden; /*For animation*/
}
/* HEADER */
.header {
  position: absolute;
  width: 100%;
  height: 100px;
  background: transparent;
  /* background: var(--body-color); */
  /* position: fixed; */
  top: 0;
  left: 0;
  z-index: 99999;
}
.header a {
  width: 20%;
  margin: auto;
}

.ws-contact {
  position: fixed;
    margin: 20px 30px 10px 0;
    right: -10px;
    bottom: -72px;
    z-index: 9999;
}
.ws-contact-icon {
  display: block;
  margin: 10px 0;
  position: relative;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  background: #424342;
  border-radius: 8px;
  transition: 0.2s;
  bottom: 74px !important;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.ws-contact i{
  font-size: 15px !important;
}
.ws-contact-icon:not(:last-child) {
  transform: translateY(100%);
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
}
.ws-contact-icon:not(:last-child).is-active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.ws-contact-icon::after {
  content: attr(tooltip);
  background: #fff;
  color: #000;
  border-radius: 50px;
  padding: 10px;
  position: absolute;
  right: 100%;
  line-height: 1;
  min-width: 150px;
  display: inline-block;
  top: 15px;
  margin-right: 10px;
  font-size: 15px;
  transition: 0.2s;
  opacity: 0;
  visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
.ws-contact-icon.call {
  background: #ff0202;
  transition-delay: 250ms;
  color: #fff;
}
.ws-contact-icon.mail {
  background: #ff0202;
  transition-delay: 200ms;
  color: #fff;
}
.ws-contact-icon i{
  line-height: 60px;
}
.ws-contact-icon.facebook {
  background: #007bb6;
  transition-delay: 150ms;
  color: #fff;
}
.ws-contact-icon.whatsaap{
  background: #3AC371;
  transition-delay: 250ms;
  color: #fff;
}
.ws-contact-icon.message {
  background: #e4405f;
  transition-delay: 100ms;
  color: #fff;
}
.ws-contact-icon:hover{
color: #fff;
}

.ws-contact-icon.zalo {
  background: #e4405f;
  transition-delay: 50ms;
  color: #fff;
}
.ws-contact-icon:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #fff;
}
.ws-contact-icon:hover::after {
  opacity: 1;
  visibility: visible;
}
.ws-contact{
  font-size: 33px;
  line-height: 60px;
}

.carousel-inner .carousel-item i{
  color: #fff !important;
}
.free_trial_button{
  margin-top: 13px;
  width: auto !important;
}

.last-buy{
  float: initial !important;
}
#topnav .navigation-menu > li{
  margin: 0px 17px !important;
}
.last-buy .btn-sign{
  background: none!important;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 20px;
  color: #fff;
}
.last-buy .btn-sign:hover{
  background: #4fbe70 !important;

}
.bn-go-to-soon{
  font-family: math;
    letter-spacing: 31.5px;
    font-weight: bold;
    font-size: 25px;
}

@media (max-width: 767.98px) {
  .ws-contact-icon {
      width: 50px !important;
      height: 50px !important;
      line-height: 50px !important;
      bottom: 66px !important;
  }
  .ws-contact-icon i{
      line-height: 50px !important;
  }
  .bn-go-to-soon{
    width: 55% !important;
    font-size: 21px !important;
    letter-spacing: 10px;
  }
  .nav__logo img{
    width: 145px !important;
    height: 159px !important;
  }
  .ws-contact{
    bottom: -50px;
  }
}
.nav__logo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  column-gap: 0.5rem;
  font-weight: var(--font-medium);
}
.nav__logo h2{
    /* margin-top: 12px; */
    line-height: 100px;
    font-family: monospace;
    font-size: 32px;
}
.nav__logo img{
  width: 121px;
  height: 157px;
}
.nav__logo span{
  position: absolute;
  bottom: 10px;
  right: 34px;
  color: #a6a5a6;
  font-size: 9px;
}
.nav__logo-img {
  width: 1.25rem;
}
.nav__logo{
  color: var(--sub);
}
/* BUTTONS */
.button {
  display: inline-block;
  background-color: var(--first-color);
  color: var(--sub);
  padding: 1rem 1.75rem;
  border-radius: 0.5rem;
  font-weight: var(--font-medium);
  transition: 0.3s;
}
.book--now {
  display: inline-block;
  transition: 0.3s;
}
.book--now:hover {
  transform: scale(1.2);
}
/* SCROLL BAR */
::-webkit-scrollbar {
  width: 0.6rem;
  background: #413e3e;
}
::-webkit-scrollbar-thumb {
  background: #272525;
  border-radius: 0.5rem;
}
@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }
  .section {
    padding: 7rem 0 2rem;
  }
  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }
}
/* For large devices */
@media screen and (min-width: 992px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}

.form-sign , .form-login{
  margin-top: 100px;
}
.form-sign{
  height: calc(100vh - 100px);
}
.form-sign form .row , .form-login form .row{
  margin-top: 80px;
  margin-bottom: 80px;
}
.form-sign form{
  padding: 15px 0;
}
.form-sign form .row .form-control , .form-login form .row .form-control {
  background: var(--body-color) !important;
  color: #fff;
}
.verify-div{
  align-items: center;
}
.verify-div .btn-verify , .verify-div .dirct-message .btn{
  width: 100%;
}
.whatsaap-link{
  color: #fff !important;
}
.verify-div .input-verify input:nth-child(2){
  margin-top: 20px;
  margin-bottom: 20px;
}
.verify-div .dirct-message{
  text-align: center;
}
.verify-div .dirct-message i{
  font-size: 90px !important;
}

.form-login .head h1{
  font-size: 55px;
  font-weight: bold;
}
.form-login a.btn{
  width: 39%;
  padding: 15px 0;
}

.parent-form-login{
  margin-top: 170px;
}

@media(min-width:768px)
{
 .carousel-caption {
      left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
} 
}
.carousel-slider{
  height: 100vh;
  /* height: calc(100vh - 200px); */
  /* margin-top: 100px; */
}
.ombre-externe {
  background-color: #000;

}
.carousel , .carousel-inner , .carousel-item ,.carousel-item img{
  height: 100%;
}
.go-to-btn{
  position: absolute;
  width: 100%;
    text-align: center;
    bottom: 30px;
    /* height: 100px; */
    /* line-height: 100px; */
}
.go-to-btn button{
  border: 1px solid #fff;
  width: 30%;
  height: 60px;
  color: #ffffff !important;
  font-size: 23px;
  font-weight: 600;
  font-family: system-ui;
  transition: .5s ease-in-out;
  background: linear-gradient(45deg, #08080882, #0b0a0a73);
}
.go-to-btn button:hover{
  border: 1px solid #ff9b2d;
  color: #fff !important;
  /* background: linear-gradient(45deg, #3ad09c, #7dd857); */
  transform: translateY(-10px);
  transition: .5s ease-in-out;
  box-shadow: 0 0px 39px rgb(200 184 184 / 40%) !important
}
.go-to-btn button.btn-check:focus+.btn, .go-to-btn button.btn:focus{
  box-shadow: 0 8px 32px rgba(0, 0, 0, .4) !important
}
.verify-div{
  text-align: center;
}
.verify-div button{
  border: 1px solid #fff;
    width: 38%;
    height: 60px;
    color: #fff;
    font-size: 23px;
    background: #080;
}
.close{
  position: absolute;
  content: '';
  top: 70px;
  left: 70px;
  color: #fff;
  background-color: #000;
  width: 53px;
  height: 20px;
  z-index: 999;
}
@media (max-width: 767.98px) { 
  .tab-media{
    display: none;
  }
  .mob-media{
    display: block;
  }
 }


 .form-sign{
  margin-top: 100px;
}
.form-sign{
  height: calc(100vh - 100px);
}
.form-sign form .row , .form-login form .row{
  margin-top: 80px;
  margin-bottom: 80px;
}
.verify-div-login{
  transition: .5s ease-in-out;
}
.verify-div-login .btn-verify{
  width: 30%;
  height: 60px;
  font-size: 23px;
  font-weight: 600;
  font-family: system-ui;
  transition: .4s ease-in-out;
  background: linear-gradient(45deg, #39b6b5, #7dd857);
}
.verify-div-login .btn-verify:hover{
  border: 1px solid #ff9b2d;
    color: #fff !important;
    background-color: #ff0202;
    transform: translateY(-10px);
    transition: .5s ease-in-out;
    box-shadow: 0 0px 39px rgb(200 184 184 / 40%)
}
.form-sign form{
  padding: 15px 0;
}
.form-sign form .row .form-control , .form-login form .row .form-control {
  background: var(--body-color) !important;
  color: #fff;
}
.form-login form .row .form-control{
  text-align: center;
}
.verify-div{
  align-items: center;
}
.verify-div .btn-verify , .verify-div .dirct-message .btn{
  width: 100%;
}
.whatsaap-link{
  color: #fff !important;
}
.verify-div .input-verify input:nth-child(2){
  margin-top: 20px;
  margin-bottom: 20px;
}
.verify-div .dirct-message{
  text-align: center;
}
.verify-div .dirct-message i{
  font-size: 90px !important;
}

.form-login .head h1{
  font-size: 55px;
  font-weight: bold;
}
.form-login a.btn{
  width: 39%;
  padding: 15px 0;
}

.parent-form-login{
  margin-top: 120px;
}
.remmember-password{
  margin-top: 40px;
}
.remmember-password a{
  font-size: 20px;
  color: #e4405f;
}
.form-control:focus{
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgb(244 244 244 / 25%);
}
.safe-project{
    position: absolute;
    left: 27px;
    text-align: center;
    bottom: 16px;
}
.safe-project p{
  color: #fff;
}
@media(min-width:768px)
{
 .carousel-caption {
      left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
} 
}
.carousel-slider{
  height: 100vh;
  /* height: calc(100vh - 200px); */
  /* margin-top: 100px; */
}
.ombre-externe {
  background-color: #000;

}
.carousel , .carousel-inner , .carousel-item ,.carousel-item img{
  height: 100%;
}
.go-to-btn{
  position: absolute;
  width: 100%;
    text-align: center;
    bottom: 30px;
    /* height: 100px; */
    /* line-height: 100px; */
}
.go-to-btn button{
  border: 1px solid #fff;
  width: 30%;
  height: 60px;
  color: #ffffff !important;
  font-size: 23px;
  font-weight: 600;
  font-family: system-ui;
  transition: .5s ease-in-out;
}
.go-to-btn button:hover{
  border: 1px solid #000;
  color: #000 !important;
  background-color: #fff;
  transform: translateY(-10px);
  transition: .5s ease-in-out;
  box-shadow: 0 0px 39px rgb(200 184 184 / 40%) !important
}
.go-to-btn button.btn-check:focus+.btn, .go-to-btn button.btn:focus{
  box-shadow: 0 8px 32px rgba(0, 0, 0, .4) !important
}
.verify-div{
  text-align: center;
}
.verify-div button{
  border: 1px solid #fff;
    width: 38%;
    height: 60px;
    color: #fff;
    font-size: 23px;
    background: #080;
}
.close{
  position: absolute;
  content: '';
  top: 70px;
  left: 70px;
  color: #fff;
  background-color: #000;
  width: 53px;
  height: 20px;
  z-index: 999;
}

/* start */
    .playstart-header{
        background: #000 !important;
        color: #fff;
    }
    .playstart-header {
        border-bottom: 1px solid #ffffff;
        padding-left : 15px;
        padding-right: 15px;
    }

    .playstart-header .button-start,
    .playstart-header .calculator-time,
    .playstart-header .logo-sec,
    .playstart-header .user-details,
    .playstart-header .expenses-sec {
        width: 20%;
    }
    .button-start .btn-go , .playstart-header .expenses-sec .btn{
        color: #fff;
        border: 1px solid #fff;
        width: 50%;
        height: 50px;
    }
    .button-start .btn-go{
        color: rgb(78, 233, 47);
        font-weight: bold;
        font-family: monospace;
        font-size: 23px;

    }

    .book--now img {
        width: 70%;
    }

    .calculator-time {
        display: flex;
        align-items: center;
    }

    .calculator-time p {
        margin-bottom: 0 !important;
        margin-right: 10px;
        margin-top: 3px;
    }

    .playstart-header .logo-sec {
        text-align: center;
    }

    .playstart-header .logo-sec p {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }

    .playstart-header .user-details {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        padding: 0 56px;
    }
    .after-stop-active .devices-item{
      padding: 8px 0 !important;
    }

    .playstart-header .user-details a {
        margin-bottom: 0 !important;
        font-size: 25px !important;
        color: #fff;
    }
    .playstart-header .user-details p i{
        color: #fff !important;
    }

    .playstart-header .expenses-sec {
        text-align: left;
    }
    .playstart-header .expenses-sec .btn-expenses {
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 18px;
    }
    .playstart-header .btn{
        box-shadow: 0 0px 39px rgb(200 184 184 / 40%) !important;
    }
    .pr-dev-drinks {
        width: 98%;
        margin: auto;
        margin-top: 90px;
        color: #fff;
    }

    .pr-dev-drinks .ch-per-devices-drinks {
        display: flex;
        padding: 10px 0;
    }

    .pr-dev-drinks .devices,
    .pr-dev-drinks .drinks {
        width: 49%;
        position: relative;
    }
    .pr-dev-drinks .drinks::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 75%;
        color: #fff;
        background-color: #fff;
        top: 35px;
        right: -50px
    }
    .start,
    .single-or-multi,
    .time-best-open {
        width: 90%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 40x;
        text-align: center;
    }

    .btn-start {
        color: #fff;
        width: 70%;
        border: 1px solid #ffff;
        padding: 13px 0;
        border-radius: 8px;
        text-transform: uppercase;
        transition: .5s ease-in-out;
        font-size: 29px;
        font-weight: bold;
        font-style: italic;
        box-shadow: 0 2px 18px 1px rgb(159 152 161)
    }
    .btn-start:hover , 
    .single-or-multi .btn-single:hover,
    .single-or-multi .btn-multi:hover ,
    .single-or-multi .btn-plus:hover , 
    .time-best-open .btn:hover{
        transform: translateY(-4px) scale(1.01);
        transition: .5s ease-in-out;
        color: #fff;
        box-shadow: 0 2px 18px 1px rgb(159 152 161)
    }

    .single-or-multi,
    .time-best-open {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .single-or-multi .btn-single,
    .single-or-multi .btn-multi ,
    .single-or-multi .btn-plus {
        width: 30%;
        color: #fff;
        border: 1px solid #fff;
    }

    .time-best-open .btn {
        width: 47%;
        color: #fff;
        border: 1px solid #fff;
    }

    .name-device,
    .name-drinks {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name-drinks{
        width: 17% !important;
    }

    .name-device svg {
        font-size: 23px !important;
        margin-top: 10px !important;
    }
    .name-drinks svg{
        font-size: 23px !important;
    }

    .name-device span,
    .name-drinks span {
        font-size: 22px;
        margin-top: 8px;
        font-weight: bold;
    }

    .devices-options {
        width: 80%;
    }

    .drinks-dev {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .option-list{
        display: flex;
        justify-content: space-between;
        height: 207px;
        overflow-x: auto;
    }
    .option-list .drinks-hot , .option-list .drinks-cold{
        width: 48%;
    }
    .option-list .group-item{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 8px;
    }
    .option-list .item-increase{
        width: 25%;
    }
    .option-list .list-item-hot , .option-list .list-item-cold{
        width: 73%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 5px;
    }

    .drinks-ul,
    .devices-ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .drinks-ul .drinks-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 15px;
    }
    .drinks-type-cat{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .drinks-type-cat .hot , .drinks-type-cat .cold{
        width: 49%;
    }
    .drinks-type-cat .hot li, .drinks-type-cat .cold li{
        width: 100%;
    }

    .drinks-ul .drinks-item p {
        margin-bottom: 0;
    }
    .number button {cursor:pointer; }
    .minus, .plus{
    width: 22px;
    height: 28px;
    background: #000;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-align: center;
    color: #fff;
    }
    .item-increase input{
        height: 28px;
        width: 17px;
        text-align: center;
        font-size: 19px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: inline-block;
        vertical-align: middle;
    }     

    .par-order {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .btn-order {
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        padding-left: 80px;
        padding-right: 80px;
    }
    .devices-ul .devices-item {
        flex-basis: calc(170px - 10px);
        margin: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        padding: 20px 0;
        border-radius: 8px;
        transition: .3s ease-in-out;
        background: #fff;
        color: #000;
    }
    .devices-ul .devices-item:hover {
        background-color: #fff;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .devices-ul .devices-item:hover p {
        color: #000;
    }

    .devices-ul .devices-item p {
        margin-bottom: 0;
        font-weight: 600;
        font-size: 16px;
    }
    .devices-ul .devices-item p:first-of-type{
      color: #525252;
    }
    .in-start .devices-item{
        flex-direction: column !important;
    }

    .list-devices-parent{
      position: absolute;
      width: 98%;
      bottom: 5px;
    }

    .login-form-reset{
      width: 70%;
      margin: auto;
      text-align: center;
      padding-top: 20px;
      position: relative;
  }





     .stop-sec{
    height: 340px;
    align-items: center;
    }
.stop-sec > div{
  align-items: center;
  text-align: center;
  width: calc(100% / 5);
}
.stop-sec > div p{
  font-size: 20px;
}
.stop-sec > div p:first-of-type{
  color: #ccc;
}
.stop-sec > div p:nth-of-type(2){
  margin-top: 40px;
}
.stop-sec .btn-stop_now{
  border: 1px solid #fff;
  border-radius: 8px;
  color: #ff0202;
  transition: .5s ease-in-out;
}
.stop-sec .btn-stop_now:hover{
  border: 1px solid #fff;
  background-color: #ff0202;
  border-radius: 8px;
  color: #fff;
  transition: .5s ease-in-out;
  box-shadow: 0 0px 39px rgb(200 184 184 / 40%);
}
.stop-sec .btn-active-stop{
  border: 1px solid #fff;
  border-radius: 8px;
  color: #7dd857;
  transition: .5s ease-in-out;
}
.stop-sec .btn-active-stop:hover{
  border: 1px solid #fff;
  background-color: #7dd857;
  border-radius: 8px;
  color: #fff;
  transition: .5s ease-in-out;
  box-shadow: 0 0px 39px rgb(200 184 184 / 40%);
}

.close-icon{
  position: absolute;
  content: '';
  top: 132px;
  left: 70px;
  color: #fff;
  background-color: #f00;
  width: 38px;
  height: 38px;
  line-height: 38px;
  z-index: 99999;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: .5s ease-in-out;

}
.close-icon:hover {
  border: 1px solid #fff;
  color: #fff;
  transition: .5s ease-in-out;
  background : transparent;
}

.device-item-active{
  border: 1px solid #421d1d !important;
    background-color: #979696 !important;
}
.device-item-active-black{
  border: 1px solid #fff !important;
    background-color: #000 !important;
}
.device-item-active-black p{
  color: #fff !important;
}

.device-item-active-red{
  background-color: #f00 !important;
  color: #fff !important;
}
.device-item-active-green{
  background-color: rgb(33, 151, 33) !important;
  color: #fff !important;
}
.form-verification{
  width: 50%;
  margin: auto;
  color: #fff;
  padding-top: 70px;
  text-align: center;
}
.form-verification input{
  width: 40%;
  margin: auto;
}
.form-verification button{
  width: 40%;
}
.dev-start .devices-item{
  flex-basis: calc(170px - 10px) !important;
}
.dev-start .devices-item p{
  font-size: 30px !important;
}
.after-stop-active li p{
  font-size: 20px;
}
.in-start .devices-item{
  padding: 10px !important;
}
.in-start li p{
  font-size: 15px !important;
}
.parent-drinks-ul {
  height: 190px;
  overflow: auto;
}


.devices-item a{
  color: #000;
}

.exp-ul{
  padding: 34px !important;
}

::-webkit-scrollbar {
  width: 0 !important;
  background: transparent !important;
}
.logo-success{
  position: absolute;
    top: 30px;
    width: 93px;
    left: 50px;
}
.close-icon-logo{
  top: 35px;
  left: 57px;
  position: absolute;
  width: 30px;
  z-index: 99999;
  color: #fff;
  font-size: 26px;
}
.close-icon-logo:hover{
  color: #fff;
}
.form-sign-sucess{
  width: 50%;
  margin: auto;
  position: relative;
}
.form-sign-sucess form{
  margin-top: 100px;
  color: #fff;
  text-align: center;
}
.form-sign-sucess .row{
  margin-top: 20px;
  margin-bottom: 20px;
}
.form-sign-sucess .row .email{
  width: 50%;
  margin: auto;
}
.name-bussiness{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
.name-bussiness input{
  width: 70%;
}
.name-bussiness p{
  width: 30%;
  color: #fff;
  text-align: left;
    padding-left: 10px;
    margin-bottom: 0;
}
.form-sign-sucess .row .p-info{
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}
.form-sign-sucess a p{
  color: #fff;
  margin-top: 10px;
}
.verify-div-success .btn-info-success{
  padding: 10px 70px;
  border-radius: 10px;
  color: #fff ;
  background-color: transparent;
  border: 1px solid #fff;
  transition: .5s ease-in-out;
  font-size: 20px;
}
.verify-div-success .btn-info-success:hover{
  background-color: #080;
  transition: .5s ease-in-out;
}
body,
    .playstart-header {
        background: #000 !important;
    }

    .playstart-header {
        border-bottom: 1px solid #ffffff;
        padding-left: 15px;
        padding-right: 15px;
    }

    .playstart-header .logo-sec {
        position: relative;
    }

    .playstart-header .button-start,
    .playstart-header .calculator-time,
    .playstart-header .logo-sec,
    .playstart-header .user-details,
    .playstart-header .expenses-sec {
        width: 20%;
    }

    .button-start .btn-go,
    .playstart-header .expenses-sec .btn {
        color: #fff;
        border: 1px solid #fff;
        width: 50%;
        height: 50px;
    }

    .button-start .btn-go {
        font-weight: bold;
        font-family: monospace;
        font-size: 23px;
    }

    .book--now img {
        width: 70%;
    }

    .calculator-time {
        display: flex;
        align-items: center;
    }

    .calculator-time p {
        margin-bottom: 0 !important;
        margin-right: 10px;
        margin-top: 3px;
    }

    .playstart-header .logo-sec {
        text-align: center;
    }

    .playstart-header .logo-sec p {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }

    .playstart-header .user-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 0 56px;
    }

    .playstart-header .user-details p {
        margin-bottom: 0 !important;
        font-size: 13px !important;
        color: #b4b0b0;
    }

    .playstart-header .user-details p i {
        color: #fff !important;
    }

    .playstart-header .expenses-sec {
        text-align: left;
    }

    .playstart-header .expenses-sec .btn-expenses {
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 18px;
    }


    .login-form-reset {
        width: 70%;
        margin: auto;
        text-align: center;
        padding-top: 20px;
        position: relative;
    }

    .login-form-reset .close {
        position: absolute;
        content: 'X';
        left: -171px;
        top: 47px;
        z-index: 999;
        border-radius: 50%;
        cursor: pointer;
    }

    .login-form-reset h2 {
        margin-top: 25px;
    }

    form {
        width: 90%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .login-form-reset form input {
        padding: 5px;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 10px;
        background: transparent;
        border: 1px solid #fff;
        color: #fff;
        text-align: center;
    }

    .login-form-reset .btn {
        color: #fff;
    }

    .old-pass {
        width: 40%;
    }

    .new-pass,
    .confirm-pass {
        width: 70%;
    }

    .bnt-confirm-password {
        border: 1px solid #fff;
        color: #fff;
        width: 40%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .pr-dev-drinks {
        margin-top: 80px;
    }

    .devices-ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .in-start .devices-item {
        flex-direction: column !important;
    }

    .toast {
        position: absolute;
        top: 25px;
        right: 30px;
        border-radius: 6px;
        background: #fff;
        padding: 20px 35px 20px 25px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        border-left: 8px solid #40f467;
        overflow: hidden;
        transform: translateX(calc(100% + 30px));
        transition: all 0.5s cubic-bezier(0.68, -0.55, 0.25, 1.35);
    }

    .toast.active {
        transform: translateX(0);
    }

    .toast-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .toast-check {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 35px;
        width: 35px;
        background-color: #40f467;
        border-radius: 50%;
        color: #fff;
        font-size: 20px;
    }

    .message {
        display: flex;
        flex-direction: column;
        margin: 0 20px;
    }

    .message-text {
        font-size: 20px;
        font-weight: 600;
    }

    .text-1 {
        color: #333;
    }

    .text-2 {
        color: #666;
        font-weight: 400;
        font-size: 16px;
    }

    .toast-close {
        position: absolute;
        top: 10px;
        right: 15px;
        padding: 5px;
        cursor: pointer;
        opacity: 0.7;
    }

    .toast-close:hover {
        opacity: 1;
    }

    .progress {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background: #ddd;
    }

    .progress::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-color: #40f467;
    }

    .progress.active::before {
        animation: progress 5s linear forwards;
    }

    @keyframes progress {
        100% {
            right: 100%;
        }
    }

    .toast-btn {
        padding: 10px 40px;
        font-size: 20px;
        outline: none;
        border: none;
        background-color: #40f467;
        color: #fff;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.3s;
    }

    .toast-btn:hover {
        background-color: #0fbd35;
    }

    .toast:not(.showing):not(.show) {
        opacity: 0 !important;
    }

    .orderout {
        margin-top: 100px;
    }

    .orderout h2 {
        margin-top: 28px;
        font-weight: bold;
        font-style: italic;
        text-align: center;
    }
    .orderout .bar-orders .contain-all-bar-orders{
        display: flex;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        margin-top: 20px;
        height: 60vh;
        overflow: auto;
    }
    .orderout .bar-orders .contain-all-bar-orders .item-bar-orders{
        border: 1px solid #eee;
        border-radius: 8px;
        color: #fff;
        text-align: center;
        flex-direction: column;
        flex-basis: calc(170px - 10px);
        margin: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 0;
        transition: .3s ease-in-out;
    }
    .orderout .bar-orders .contain-all-bar-orders .item-bar-orders p:nth-of-type(2){
        font-size: 40px;
    }

    .bar-order-btn{
        width: 30%;
        margin: auto;
    }

    .orderout button{
        padding: 10px 100px;
        color: #fff;
        border: 1px solid #fff;
        border-radius: 8px;
        font-size: 30px;
        transition: .5s ease-in-out;
        width: 100%;
    }
    .orderout button:hover{
        background-color: #fff;
        color: #000;
        transition: .5s ease-in-out;
    }
    .playstart-header {
      border-bottom: 1px solid #ffffff;
      padding-left : 15px;
      padding-right: 15px;
  }

  .playstart-header .button-start,
  .playstart-header .calculator-time,
  .playstart-header .logo-sec,
  .playstart-header .user-details,
  .playstart-header .expenses-sec {
      width: 20%;
  }
  .button-start .btn-go , .playstart-header .expenses-sec .btn{
      color: #fff;
      border: 1px solid #fff;
      width: 50%;
      height: 50px;
  }
  .button-start .btn-go{
      font-weight: bold;
      font-family: monospace;
      font-size: 23px;
  }

  .book--now img {
      width: 70%;
  }

  .calculator-time {
      display: flex;
      align-items: center;
  }

  .calculator-time p {
      margin-bottom: 0 !important;
      margin-right: 10px;
      margin-top: 3px;
  }

  .playstart-header .logo-sec {
      text-align: center;
  }

  .playstart-header .logo-sec p {
      margin-bottom: 0;
      font-size: 30px;
      font-weight: bold;
  }

  .playstart-header .user-details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 12px;
      padding: 0 56px;
  }

  .playstart-header .user-details p {
      margin-bottom: 0 !important;
      font-size: 13px !important;
      color: #b4b0b0;
  }
  .playstart-header .user-details p i{
      color: #fff !important;
  }

  .playstart-header .expenses-sec {
      text-align: left;
  }
  .playstart-header .expenses-sec .btn-expenses {
      text-transform: uppercase;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      font-weight: bold;
      font-size: 18px;
  }
  .pr-dev-drinks {
      width: 98%;
      margin: auto;
      margin-top: 80px;
  }

  .pr-dev-drinks .ch-per-devices-drinks {
      display: flex;
      padding: 10px 0;
  }

  .pr-dev-drinks .devices,
  .pr-dev-drinks .drinks {
      width: 49%;
      position: relative;
  }
  .pr-dev-drinks .drinks::before{
      position: absolute;
      content: '';
      width: 1px;
      height: 75%;
      color: #fff;
      background-color: #fff;
      top: 35px;
      right: -50px
  }
  .start,
  .single-or-multi,
  .time-best-open {
      width: 90%;
      margin: auto;
      margin-top: 25px;
      margin-bottom: 40x;
      text-align: center;
  }

  .btn-start {
      color: #fff;
      width: 70%;
      border: 1px solid #ffff;
      padding: 13px 0;
      border-radius: 8px;
      text-transform: uppercase;
      transition: .5s ease-in-out;
      font-size: 29px;
      font-weight: bold;
      font-style: italic;
  }
  .btn-start:hover , 
  .single-or-multi .btn-single:hover,
  .single-or-multi .btn-multi:hover ,
  .single-or-multi .btn-plus:hover , 
  .time-best-open .btn:hover{
      transform: translateY(-4px) scale(1.01);
      transition: .5s ease-in-out;
      color: #fff;
      box-shadow: 0 2px 18px 1px rgb(159 152 161)
  }

  .single-or-multi,
  .time-best-open {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }

  .single-or-multi .btn-single,
  .single-or-multi .btn-multi ,
  .single-or-multi .btn-plus {
      width: 30%;
      color: #fff;
      border: 1px solid #fff;
  }

  .time-best-open .btn {
      width: 47%;
      color: #fff;
      border: 1px solid #fff;
  }

  .name-device,
  .name-drinks {
      width: 20%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .name-drinks{
      width: 17% !important;
  }

  .name-device svg {
      font-size: 23px !important;
      margin-top: 10px !important;
  }
  .name-drinks svg{
      font-size: 23px !important;
  }

  .name-device span,
  .name-drinks span {
      font-size: 22px;
      margin-top: 8px;
      font-weight: bold;
  }

  .devices-options {
      width: 80%;
  }

  .drinks-dev {
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .drinks-ul,
  .devices-ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
  }

  .drinks-ul .drinks-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 5px;
      margin-bottom: 15px;
  }
  .drinks-type-cat{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .drinks-type-cat .hot , .drinks-type-cat .cold{
      width: 49%;
  }
  .drinks-type-cat .hot li, .drinks-type-cat .cold li{
      width: 100%;
  }

  .drinks-ul .drinks-item p {
      margin-bottom: 0;
  }

  .par-order {
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .btn-order {
      text-align: center;
      border: 1px solid #fff;
      color: #fff;
      padding-left: 80px;
      padding-right: 80px;
  }

  .list-devices-parent{
      margin-top: 20px;
  }

  .devices-ul .devices-item {
      flex-basis: calc(195px - 10px);
      margin: 2px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid #fff;
      padding: 20px 0;
      border-radius: 8px;
      transition: .3s ease-in-out;
      background: #fff;
      color: #000;
  }
  .devices-ul .devices-item:hover {
      background-color: #fff;
      cursor: pointer;
      transition: .3s ease-in-out;
  }

  .devices-ul .devices-item:hover p {
      color: #000;
  }

  .in-start .devices-item{
      flex-direction: column !important;
  }
  .device-details-item-total{
      display: flex;
      justify-content: space-between;
      width: 90%;
      margin: 20px auto 0;
  }
  .device_details_total , .drinks-number{
      width: 35%;
      position: relative;
  }
  .drinks-number .total , .device_details_total .total{
      display: flex;
      justify-content: space-between;
      width: 40%;
      margin: 10px auto 0;
  }
  .drinks-number .total p , .device_details_total .total{
      margin-bottom: 0;
      font-size: 30px;
  }
  .device_details_total::after , .drinks-number::after{
      position: absolute;
  content: '';
  top: 52px;
  left: -22px;
  width: 1px;
  height: 71%;
  background-color: #6c6c6c;
  }
  .twice_details_total{
      width: 20%;
  }
  .device_details_total , .drinks-number , .device_details_total{
      text-align: center;
  }
  .device_details_total h2{
      margin-bottom: 25px;
  }
  .device_details_total .same{
      background-color: #ccc;
      color: #000;
      padding: 5px 45px;
      font-weight: 700;
  }
  .same-padding{
      padding: 0px 45px;
  }
  .twice_details_total{

  }
  .drinks-ul{
     
  }
  .drinks-ul li{
      display: flex;
      justify-content: space-between;
      width: 40%;
      flex-basis: calc(50% - 10px);
      margin: 2px;
      text-align: center;
      align-items: center;
      padding: 8px 7px;
      border-radius: 8px;
      transition: .3s ease-in-out;
      color: #fff;
      margin-top: 15px;
  }
  .drinks-ul li p{
      margin-bottom: 0;
  }
  .totals-inall{
      width: 90%;
      margin: auto;
      margin-top: 20px;
  }
  .totals-inall p{
  font-size: 30px;
  }
  .buttons-option .buttons-reupdate{
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-top: 70px;
  }
  .buttons-option .buttons-reupdate button{
      width: 48%;
      border: 1px solid #fff;
      text-align: center;
      margin-bottom: 10px;
      color: #fff;
  }
  .buttons-option .okay-done{
      margin-top: 10px;
      width: 100%;
      text-align: center;
  }

  .buttons-option .okay-done button{
      width: 100%;
      border: 1px solid #fff;
      color: #fff;
  }
  .playstart-header .button-start,
    .playstart-header .calculator-time,
    .playstart-header .logo-sec,
    .playstart-header .user-details,
    .playstart-header .expenses-sec {
        width: 20%;
    }
    .button-start .btn-go , .playstart-header .expenses-sec .btn{
        color: #fff;
        border: 1px solid #fff;
        width: 50%;
        height: 50px;
    }
    .button-start .btn-go{
        font-weight: bold;
        font-family: monospace;
        font-size: 23px;
    }

    .book--now img {
        width: 70%;
    }

    .calculator-time {
        display: flex;
        align-items: center;
    }

    .calculator-time p {
        margin-bottom: 0 !important;
        margin-right: 10px;
        margin-top: 3px;
    }

    .playstart-header .logo-sec {
        text-align: center;
    }

    .playstart-header .logo-sec p {
        margin-bottom: 0;
        font-size: 30px;
        font-weight: bold;
    }

    .playstart-header .user-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        padding: 0 56px;
    }

    .playstart-header .user-details p {
        margin-bottom: 0 !important;
        font-size: 13px !important;
        color: #b4b0b0;
    }
    .playstart-header .user-details p i{
        color: #fff !important;
    }

    .playstart-header .expenses-sec {
        text-align: left;
    }
    .playstart-header .expenses-sec .btn-expenses {
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-weight: bold;
        font-size: 18px;
    }
    .pr-dev-drinks {
        width: 98%;
        margin: auto;
        margin-top: 80px;
    }

    .pr-dev-drinks .ch-per-devices-drinks {
        display: flex;
        padding: 10px 0;
    }

    .pr-dev-drinks .devices,
    .pr-dev-drinks .drinks {
        width: 49%;
        position: relative;
    }
    .pr-dev-drinks .drinks::before{
        position: absolute;
        content: '';
        width: 1px;
        height: 75%;
        color: #fff;
        background-color: #fff;
        top: 35px;
        right: -50px
    }
    .start,
    .single-or-multi,
    .time-best-open {
        width: 90%;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 40x;
        text-align: center;
    }

    .btn-start {
        color: #fff;
        width: 70%;
        border: 1px solid #ffff;
        padding: 13px 0;
        border-radius: 8px;
        text-transform: uppercase;
        transition: .5s ease-in-out;
        font-size: 29px;
        font-weight: bold;
        font-style: italic;
    }
    .btn-start:hover , 
    .single-or-multi .btn-single:hover,
    .single-or-multi .btn-multi:hover ,
    .single-or-multi .btn-plus:hover , 
    .time-best-open .btn:hover{
        transform: translateY(-4px) scale(1.01);
        transition: .5s ease-in-out;
        color: #fff;
        box-shadow: 0 2px 18px 1px rgb(159 152 161)
    }

    .single-or-multi,
    .time-best-open {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .single-or-multi .btn-single,
    .single-or-multi .btn-multi ,
    .single-or-multi .btn-plus {
        width: 30%;
        color: #fff;
        border: 1px solid #fff;
    }

    .time-best-open .btn {
        width: 47%;
        color: #fff;
        border: 1px solid #fff;
    }

    .name-device,
    .name-drinks {
        width: 20%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .name-drinks{
        width: 17% !important;
    }

    .name-device svg {
        font-size: 23px !important;
        margin-top: 10px !important;
    }
    .name-drinks svg{
        font-size: 23px !important;
    }

    .name-device span,
    .name-drinks span {
        font-size: 22px;
        margin-top: 8px;
        font-weight: bold;
    }

    .devices-options {
        width: 80%;
    }

    .drinks-dev {
        margin-top: 40px;
        margin-bottom: 40px;
    }

    .drinks-ul,
    .devices-ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .drinks-ul .drinks-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #fff;
        border-radius: 8px;
        padding: 5px;
        margin-bottom: 15px;
    }
    .drinks-type-cat{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .drinks-type-cat .hot , .drinks-type-cat .cold{
        width: 49%;
    }
    .drinks-type-cat .hot li, .drinks-type-cat .cold li{
        width: 100%;
    }

    .drinks-ul .drinks-item p {
        margin-bottom: 0;
    }

    .par-order {
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    .btn-order {
        text-align: center;
        border: 1px solid #fff;
        color: #fff;
        padding-left: 80px;
        padding-right: 80px;
    }

    .list-devices-parent{
        margin-top: 20px;
    }

    .devices-ul .devices-item {
        flex-basis: calc(195px - 10px);
        margin: 2px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid #fff;
        padding: 20px 0;
        border-radius: 8px;
        transition: .3s ease-in-out;
        background: #fff;
        color: #000;
    }
    .devices-ul .devices-item:hover {
        background-color: #fff;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

    .devices-ul .devices-item:hover p {
        color: #000;
    }

    .in-start .devices-item{
        flex-direction: column !important;
    }
    .device-details-item-total{
        display: flex;
        justify-content: space-between;
        width: 90%;
        margin: 20px auto 0;
    }
    .device_details_total , .drinks-number{
        width: 35%;
        position: relative;
    }
    .drinks-number .total , .device_details_total .total{
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 10px auto 0;
    }
    .drinks-number .total p , .device_details_total .total{
        margin-bottom: 0;
        font-size: 30px;
    }
    .device_details_total::after , .drinks-number::after{
        position: absolute;
    content: '';
    top: 52px;
    left: -22px;
    width: 1px;
    height: 71%;
    background-color: #6c6c6c;
    }
    .twice_details_total{
        width: 20%;
    }
    .device_details_total , .drinks-number , .device_details_total{
        text-align: center;
    }
    .device_details_total h2{
        margin-bottom: 25px;
    }
    .device_details_total .same{
        background-color: #ccc;
        color: #000;
        padding: 5px 45px;
        font-weight: 700;
    }
    .same-padding{
        padding: 0px 45px;
    }
    .twice_details_total{

    }
    .drinks-ul{
       
    }
    .drinks-ul li{
        display: flex;
        justify-content: space-between;
        width: 40%;
        flex-basis: calc(50% - 10px);
        margin: 2px;
        text-align: center;
        align-items: center;
        padding: 8px 7px;
        border-radius: 8px;
        transition: .3s ease-in-out;
        color: #fff;
        margin-top: 15px;
    }
    .drinks-ul li p{
        margin-bottom: 0;
    }
    .totals-inall{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .totals-inall p{
    font-size: 30px;
    }
    .buttons-option .buttons-reupdate{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 70px;
    }
    .buttons-option .buttons-reupdate button{
        width: 48%;
        border: 1px solid #fff;
        text-align: center;
        margin-bottom: 10px;
        color: #fff;
    }
    .buttons-option .okay-done{
        margin-top: 10px;
        width: 100%;
        text-align: center;
    }

    .buttons-option .okay-done button{
        width: 100%;
        border: 1px solid #fff;
        color: #fff;
    }
    .expenses{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .expenses h2{
        font-weight: bold;
    font-size: 41px;
        margin-top: 10px;
}
.expenses .item-expensive{
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 60px;
}
.expenses .cost , .expenses .invetory , .expenses .cost , .expenses .okay-done{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}
.expenses .cost p, .expenses .invetory p{
    margin-left: 10px;
}
.expenses .notice textarea{
    width: 100%;
    height: 100px;
    background-color: transparent;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
    border-radius: 8px;
}
.expenses input{
    width: 80px;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;
}
.expenses .btn-confitm{
    padding: 3px 50px !important;
    color: #fff !important;
}
